.Register{
    padding-top: 40px;
}
.Registertext{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.inputsize{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.registerbtn{
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(46, 166, 46);
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
}